body {
  font-family: "Courier New", monospace;
  margin: 0;
  background-color: #282c34;
  color: #abb2bf;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.text {
  padding-left: 5px;
}

.terminal {
  width: 40%;
  height: 50%;
  background-color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
  overflow: hidden;
  min-width: 600px;
  min-height: 500px;
}

/*skip button*/
.skip-button-container {
  width: 40%;
  height: 20px;
  min-width: 600px;
  min-height: 20px;
  display: flex;
  justify-content: right;
  align-items: center;
  color: #abb2bf;
  font-size: 13px;
}

.skip-button {
  cursor: pointer;
  margin-right: 1%;
}

/*terminals input lines*/
.line {
  color: #61afef;
  display: flex;
  align-items: baseline; /* Align text to the baseline */
}

#line2 {
  display: none;
  margin-top: -20px;
}

.inputText {
  margin-left: 10px;
  color: #abb2bf;
}

/*introduction text*/
.output {
  color: #abb2bf;
  white-space: pre-line;
}

/*links*/
.links {
  margin-top: 5px;
  color: #61afef;
  cursor: pointer;
  display: inline-block;
}

/*title bar of terminal */
.title-bar {
  background-color: #31353d;
  width: 100%;
  height: 8%;
  -moz-border-radius: 0px;
  -webkit-border-radius: 8px 8px 0px 0px;
  border-radius: 8px 8px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*for smaller screens*/
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }

  .terminal {
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    overflow: hidden;
    min-width: 100%;
  }

  .skip-button-container {
    width: 40%;
    height: 20px;
    min-width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
  }
}

/*show tool tip when hovering*/

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
